<%= render 'episodes' %>

<hr>

<% if current_user.subscribed? || @podcast.episodes.size == 0 %>
  <%= render 'soundcloud_episodes' %>
<% else %>
  <h3>Limit reached for free plan. <%= link_to "Please upgrade", new_subscription_path %> to add more episodes.</h3>
<% end %>
