<p class="lead">Need help using Filter? Take a look at some common questions below – if they don't answer your questions, use the '?' button at the bottom-right to instantly send a support question.</p>

<h4>Common Questions</h4>
<ol>
  <li><a href="#notracks">My tracks on Soundcloud aren't showing up on Filter!</a></li>
  <li><a href="#myfiles">Where are my files hosted? Can I access them?</a></li>
</ol>

<h4><a id="notracks">My tracks on Soundcloud aren't showing up on Filter!</a></h4>
<p>Your track may have been uploaded in a different format then MP3. Because iTunes can only process MP3s, Filter doesn't show these tracks. Filter also <em>filters</em> (ha ha) your Soundcloud tracks before allowing you to add them – only tracks that are accessable by our servers appear. This means that your tracks must be <em>public and downloadble on Soundcloud</em>. If that doesn't fix it, feel free to get in contact with us with the name of the track and difficulties you are having.</p>

<h4><a id="myfiles">Where are my files hosted? Can I access them?</a></h4>
<p>Filter downloads tracks from Soundcloud and hosts them using Amazon's Simple Storage Service (S3). Currently, you can access these files via the same URL that iTunes accesses – if your episode has finished downloading from Soundcloud, you can find this by visiting the episode's page on Filter.</p>
