<div class="jumbotron">
  <h1>
    <span id="soundcloud">Soundcloud</span> +
    <span id="itunes">iTunes</span> =
    <i id="heart" class="big-icon icon-heart-empty"></i>
  </h1>
  <p class="lead">Podcasts made easy. Simply sign-in with Soundcloud and get started making a publishable podcast within seconds.</p>
  <% if current_user %>
    <%= link_to "Go to my podcasts", my_podcast_path, class: 'btn btn-primary' %>
  <% else %>
    <a class="soundcloud-button" href="/auth/soundcloud"><%= image_tag "soundcloud-button.png" %></a>
  <% end %>
</div>

<hr>

<div class="row-fluid">
  <div class="span6">
    <h4>
      <i class="icon icon-cloud"></i> Import from Soundcloud
    </h4>
    <p>Soundcloud covers track names, descriptions, even cover art for your episodes.</p>

    <h4>
      <i class="icon icon-wrench"></i>
      Customize your podcast
    </h4>
    <p>Avoid iTunes' complicated setup process with an easy alternative with Filter.</p>
  </div>

  <div class="span6">
    <h4>
      <i class="icon icon-truck"></i>
      Publish early, and often
    </h4>
    <p>Your feed URL is hosted on our Amazon S3 servers, so uptime is high and updates are quick.</p>

    <h4>
      <i class="icon icon-upload"></i>
      Keep your show up-to-date with auto-update
    </h4>
    <p>Sign up for Filter's <strong>unlimited</strong> plan and get auto-updates, so your show will stay up-to-date on iTunes without any additional work.</p>
  </div>
</div>

<hr />

<div class="row">
  <h2>Filter has two plans: <em>free</em> and <strong>unlimited</strong>.</h4>
  <h2>Try Filter for a week, free of charge.</h2>
  <br />
  <div class="span3 offset1">
    <h3>Free</h3>
    <ul>
      <li><em>5 episodes</em></li>
      <li>No auto-update</li>
    </ul>
    <h4>$0/mo</h4>
  </div>

  <div class="span3">
    <h3>Unlimited</h3>
    <ul>
      <li><em>∞ episodes</em></li>
      <li><strong>Auto-update</strong></li>
    </ul>
    <h4>$8/mo</h4>
  </div>
</div>
