<h2>Subscribe to Filter to get:</h2>

<h3>- Unlimited episodes for your podcast</h3>
<h3>- Auto-updating upon new Soundcloud uploads</h3>

<h3>Try Filter for a week, free of charge.</h3>

<% if current_user.stripe_token %>
  <%= button_to "Reactivate Filter Subscription", reactivate_subscription_path, class: 'btn btn-primary' %>
  <p>Our records show that you have previously had a Filter account.</p>
  <p>Using the above form will resubscribe with your previous account information.
  If you would like to change your credit card information, please
  <%= link_to "contact us", page_path('help') %>.
<% else %>
  <div>
    <%= form_tag subscriptions_path do %>
      <article>
        <label class="amount">
          <span>Amount: $8.00</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-key="<%= Figaro.env.stripe_key %>"
              data-description="Unlimited plan to Filter"
              data-amount="800"></script>
    <% end %>
  </div>
<% end %>
